/* 전반적 스타일 */
*{margin: 0; padding: 0; box-sizing: border-box;}
html, body {height: 100%;}
/* body{background-color: rgb(234, 255, 233);} */
a{text-decoration: none; cursor: pointer;}
/* 폰트 */
.font {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal
}








/* 헤더 */
header{
    width: 100%; height: 100px;
    /* border: 1px solid black; */
    background-color: white;
    position: fixed; z-index: 3;
    overflow: hidden;
}
    /* 로고 */
header a img {
  display: block; height: 180px;
}

    /* 메뉴 */
header ul{
    width: 80%; font-size: 1.00rem;
    list-style: none; display: flex; gap: 7%;
}
header ul a{color: black;}
header ul a:hover{font-weight: bold; color: rgb(44, 134, 66);}
.head{
    width: 90%; height: 100px; margin: 0 auto;
    display: flex; gap: 12%;  padding-right: 70px;
    align-items: center;
}
    /* 헤더 오른쪽 */
.head-right{width: 18%; display: flex; gap: 1%; justify-content: flex-end;}

    /* 로그인 */
#login{
  display: flex; 
  align-items: center;
  gap: 5px;
  font-size: 13px;
  color: black;
}
#login img { width: 30px; height: 30px;}
#login:hover{cursor: pointer;}
    /* 관리자 */
.head-right #manager{
    width: 70px; height: 42px; background-color: black; font-size: 13px; 
    padding-top: 10px; padding-left: 3px;
    color: white; border: 1px solid black; margin-left: 25px;
}
.head-right #manager:hover{background-color: rgb(234, 110, 45); color: white; cursor: pointer; border: 1px solid rgb(234, 110, 45);}
#res-menu{display:none;}



@media screen and (max-width: 1880px) {
    header ul li a {font-size: 0.9rem;}
    #login{font-size: 0.9rem;}
    #manager{display: none;}
}
@media screen and (max-width: 1728px) {
    header ul li a {font-size: 0.8rem;}
    #login{display: none;}
}
@media screen and (max-width: 1575px) {
    header ul li a {font-size: 0.7rem;}
}
@media screen and (max-width: 1440px) {
    header ul li a {display: none;}
    #res-menu{display: block; z-index: 2; width: 60px; height: 60px;}
    section{display: none;}
    article{display: none;}
    main{width: 100%; flex: 1; }
}






/* 페이지 내용 */
.wrap{
    display: flex; height: 1300px; padding-top: 100px;
}




    /* section */
section{
    width: 20%; height: auto;
    /* border: 1px solid black; */
}
.today{
    margin: 15%; margin-top: 18%;
    width: 70%; height: 300px;
    border: 1px solid black; border-radius: 30px;
    box-shadow: 8px 8px 10px rgb(197, 197, 197);
    overflow: hidden;
}
.today button{
    width: 30px; height: 30px;
    background-color: white; 
    border: 1px solid white;
    font-size: 20px;
}
.today button:hover{
    cursor: pointer;
}




    /* main */
main{
    padding: 4%;
    width: 60%; height: auto;
    /* border: 1px solid black; */
    background-color: rgb(234, 255, 233);
}
#search{
    display: flex; justify-content: center;
    margin-bottom: 8%;
}
#search button{
    width: 10%; height: 50px;
    background-color: rgb(44, 134, 66); color: white;
    border: 1px solid rgb(44, 134, 66);
}
#search button:hover{
    cursor: pointer; background-color: rgb(23, 88, 39); color: white;
    font-weight: bold;
}
    


.search-font{
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;

    font-size: 70px; color:rgb(90, 188, 114);
    text-align: center; margin-bottom: 200px;

    animation: slideUp 0.8s ease-out forwards;
}
@keyframes slideUp {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
      to {
        opacity: 1;
        transform: translateY(0); 
      }
    }



.popular{
    text-align: center; margin-top: 80px; color: rgb(44, 134, 66);
}
.wrap01{
    display: flex;  gap: 1%;
    justify-content: space-around;
}
.wrap01 a {
    display: flex;
    width: 30%; height: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 30px;
}
.wrap01 a .vocab{
    width: 100%; height: 100%;
}
.wrap01 a:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}


.vocab{
    width: 30%; height: 250px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.vocab img{
    width: 100%;
    position: absolute; top: 0; left: 0;
}
.vocab-text{
    width: 100%;
    background-color: white;
    position: absolute; top: 0px; 
    color: black;
}
.popular #lookaround{
    cursor: pointer; width: 150px; height: 30px; background-color: white;
    border: 1px solid rgb(44, 134, 66); border-radius: 30px;
    font-size: 14px; color: black; padding: 5px;
}

.popular #lookaround:hover{
    background-color: rgb(44, 134, 66);
    color: white; font-weight: bold;
}








/* 푸터 */
footer{
    width: 100%; height: 250px;
    border-top: 2px solid rgb(44, 134, 66);
    background-color: white;
    text-align: center; font-size: 18px;
    color: gray;
}
#copy{
    color: rgb(44, 134, 66);
}